:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #f5f5f5;
  --secondary-white-color: #f5f4fa;
  --dark-color: #2f303a;
  --fond-heder: #ffffff;
  --transition-duration: 250ms;
}
body {
  font-family: roboto, sans-serif;
}
.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-mail {
  fill: currentColor;
  transition: background-color var(--transition-duration) ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  display: flex;
  gap: 50px;
  list-style: none;

  margin-left: auto;
}
.header-group {
  padding-left: 0;
}

.list-header {
  list-style: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;

  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list-header-list {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  padding-left: 0px;
}
.header-link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.header-link-current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  margin-bottom: 0;
}

.header-item {
  gap: 50px;
}
.header-item:last-child {
  margin-right: 0px;
}
.header-contact-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header-contact-link:last-child {
  margin-right: 0px;
}

.header-link-nav {
  color: var(--title-text-color);
  display: block;
  line-height: calc(16 / 14);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  list-style: none;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  display: flex;
  align-items: center;
  line-height: calc(16 / 14);
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  list-style: none;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-nav:hover,
.header-link-nav:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.header-link:hover,
:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.header-nav-link {
  text-decoration: none;
  padding-left: 0px;
}

.hero {
  background-color: var(--dark-color);
  max-width: 1600px;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background: center;
  margin: 0 auto;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img.jpg);
}
h1,
h2,
h3,
p {
  margin: 0;
}
.section {
  padding: 94px 0;
}

.hero-title {
  font-size: 44px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.36;

  font-weight: 900;
  margin-bottom: 30px;
}

.button-primary {
  font-weight: 700;
  line-height: calc(30 / 16);
  display: inline-block;
  letter-spacing: 00.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid #2196f3;
  font-size: 16px;
  text-align: center;
  align-items: center;
  padding-left: 32px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  cursor: pointer;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-work {
  padding-top: 0;
  padding-bottom: 94px;
}

.team-section {
  background-color: var(--secondary-white-color);
}
.container-work {
  padding-top: 0;
}
.work-list {
  display: flex;
  gap: 30px;
}
.work-our {
  width: 370;
}
.list-team {
  display: flex;
  gap: 30px;
}
.team-iten {
  background-color: #ffffff;
  width: 270;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.work-list {
  list-style: none;
}
.team-job {
  padding-top: 30px;
  padding-bottom: 30px;
}
.list-team {
  list-style: none;
}
.feature-list {
  display: flex;
  gap: 30px;
}
.title-name {
  line-height: calc(19 / 16);
  letter-spacing: 00.03em;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.job-title {
  line-height: calc(19 / 16);
  letter-spacing: 00.03em;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--fond-heder);
  text-decoration: none;
}

.list-footer {
  display: block;
  list-style: none;
  margin-top: 20px;
}
.address-maps {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 9px;
}
.address-link {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.list-btn {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.list-portfol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.title-portfol {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 16);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.portfol-item {
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proects {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 00.03em;
  color: var(--primary-text-color);
}

.title-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-white-color);
  color: var(--title-text-color);
  border: 1px solid var(--secondary-white-color);
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
    color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.title-btn:hover,
.title-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.3);
}

.title-btn-current {
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.header-link-current {
  color: var(--accent-color);
  text-decoration: none;
  line-height: calc(16 / 14);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  list-style: none;
  cursor: pointer;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress {
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.thumb {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.thumb > .label {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.list-icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 94px;
}
.fon-icon {
  border-radius: 4px;
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
.contacts-icon {
  fill: currentColor;
}

.contacts-icon-team {
  fill: currentColor;
}

.social {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}
.link-social {
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
    color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social:hover,
.link-social:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.list-social {
  width: 44px;
  height: 44px;
}
.link-social-footer {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social-footer:hover,
.link-social-footer:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}
.social-address {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}
.our-clients {
  display: flex;
  gap: 30px;
  fill: #afb1b8;
}
.list-clients {
  width: 170px;
  height: 92px;
}
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
  border var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:hover,
.clients:focus {
  color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  width: 100%;
  height: 100%;
}
.clients-icon {
  fill: currentColor;
}
.title-welcome {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-address {
  margin-right: 70px;
  flex-grow: 1;
}
.list-address {
  margin-bottom: 9px;
  margin-top: 9px;
}
.link-portfol {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfol:hover,
.link-portfol:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfol-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-desc {
  color: #ffffff;
  user-select: ;
  width: 322px;
  height: 168px;
  left: 239px;
  top: 323px;
  font-family: 'Roboto';

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  user-select: none;
}
.link-portfol:hover .overlay,
.link-portfol:focus .overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 750ms, visibility 750ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
 
}
.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  fill: #2196f3;
 
}
.register-form-title {
  display: block;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 12px;  
}
.register-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px; 
 
}
.register-form-heading {
  font-size: 12px; 
  color: #757575;
  display: block;
  margin-bottom: 4px;
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form-field {
  position: relative;
  display: block; 
}
.register-form-icon {
  position: absolute;
  top:  65%;
  left: 11px;
  transform: translateY(-40%);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121; 
}
.register-form-label {
  font-size: 12px; 
  color: #757575;
  margin-bottom: 4px;
  display: block;
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: var(--accent-color);
}
.register-form-input:hover + .register-form-icon {
  fill: var(--accent-color);
}
.register-form-input:focus,
.register-form-input:hover {
  border-color: #2196f3;
}
.register-form-agreement {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
} 
.register-form-message {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  padding: 16px;
  font-size: 12px;
  font-family: 'Roboto';
  color: rgba(117, 117, 117, 0.5);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

}
.register-form-message:hover {
  border-color: #2196f3;
}
.register-form-message:focus {
  outline-color: #2196f3;
}

.register-form-link {
  color: #2196f3;
  font-size: 14px;
  line-height: calc(24px /14px);
  letter-spacing: 0.03em;
  }
.register-form-btn {
  display: block;
  margin: 0px auto;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 00.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid #2196f3;
  font-size: 16px;
  text-align: center;
  align-items: center;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
}
.footer-subscription {
display: flex;
justify-content: flex-start;
align-items: flex-start;
margin-left: 93px;
}

.footer-title {
  display: block;
  text-align: start;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 12px;  
  line-height: calc(16px/14px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-mail {
  font-size: 16px;
  line-height: calc(20px/16px);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  box-sizing: border-box; 
}
.footer-list {
  display: flex;
  gap: 12px;
}
.footer-btn { 
  margin: 0px auto;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 00.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid #2196f3;
  font-size: 16px;
  text-align: center;
  align-items: center;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkbox-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  outline: 1px solid blue;
  align-items: center;
  }
  .register-form-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px; 
    border: 1px solid rgba(33, 33, 33, 1);
    background-image:  url(../images/icon-check.jpg);
  }
  
 .register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}
  .register-form-checkbox:checked + .register-form-icons .icon-unchecked {
     opacity: 0;
    }
    
  .icon-checked {
   opacity: 0;
   fill: #2196f3;
   transition: opacity var(--accent-color) var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-unchecked {
    opacity: 1;
    transition: opacity var(--accent-color) var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  }
  .register-form-link {
    color: #2196f3;
  }
  
  .register-form-desc {
  font-size: 14px;
  line-height: calc(24px /14px);
  letter-spacing: 0.03em;
  color: #757575;
  user-select: none;
  
}
.register-form-message::placeholder {
  font-size: 14px;
}

.register-form-btn {
  display: block;
  margin: 0 auto;
}




 





















